@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex justify-center;
  }
}
@layer components {
}

/* 
https://www.youtube.com/watch?v=optD7ns4ISQ
https://github.com/tumetus/next-js-theme-changer-example
https://github.com/tumetus/next-js-theme-changer-tailwind-example
https://github.com/pacocoursey/next-themes
https://nextui.org/docs/customization/dark-mode
https://www.youtube.com/watch?v=sX3Lw9xHdSk
https://drive.google.com/drive/folders/1jIJjt_D8YBIDVGqo_VWunUjBqFoOzXt1?usp=drive_link

https://www.youtube.com/watch?v=RTAJ-enfums
https://github.com/HamedBahram/next-starter-with-theme
https://www.youtube.com/playlist?list=PLwTWj-bA3SMC4fGQhsdYKJQErd0MKHNfD

https://redstapler.co/pure-css-minimal-dark-mode-toggle-button/
 */

/* 
You’re doing dark mode wrong!
Do you like typing dark: every time you write any color in tailwind? I don’t! And even if you like that, how would you add a third or fourth theme? Did you know you can use CSS Variables to theme in Tailwind CSS?
 */
/* https://www.youtube.com/watch?v=WTchW0LdWL0 */

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 */
